@model Club_Proyect.Entities.Venta

@{
    ViewData["Title"] = "Create";
    var listaProductos = ViewBag.productos;
    var bufet = ViewBag.bufet;
    TempData["value"] = "Algo";

}

<h1>Create</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">

                <select asp-for="Prod" class="form-control" asp-items='new SelectList(listaProductos,"ID","Nombre")'></select>
            </div>
            <div class="form-group">
                <label asp-for="metodoPago" class="control-label"></label>
                <input asp-for="metodoPago" class="form-control" />
                <span asp-validation-for="metodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renta" class="control-label"></label>
                <input asp-for="Renta" class="form-control" />
                <span asp-validation-for="Renta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalVenta" class="control-label"></label>
                <input asp-for="totalVenta" class="form-control" />
                <span asp-validation-for="totalVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
