@model Club_Proyect.Entity.Empleado

@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo empleado</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="persona.DNI" class="control-label"></label>
                <input asp-for="persona.DNI" class="form-control" />
                <span asp-validation-for="persona.DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num_Legajo" class="control-label"></label>
                <input asp-for="Num_Legajo" class="form-control" />
                <span asp-validation-for="Num_Legajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Inicio" class="control-label"></label>
                <input asp-for="Fecha_Inicio" class="form-control" />
                <span asp-validation-for="Fecha_Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sector" class="control-label"></label>
                <input asp-for="Sector" class="form-control" />
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo_oNo" /> @Html.DisplayNameFor(model => model.Activo_oNo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear nuevo empleado" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
