@model Club_Proyect.Entity.Socio

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Socio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="NumSocio" class="control-label"></label>
                <input asp-for="NumSocio" class="form-control" />
                <span asp-validation-for="NumSocio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngresoClub" class="control-label"></label>
                <input asp-for="FechaIngresoClub" class="form-control" />
                <span asp-validation-for="FechaIngresoClub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActivoOno" /> @Html.DisplayNameFor(model => model.ActivoOno)
                </label>
            </div>*@
            <input type="hidden" asp-for="persona.ID" />
            <div class="form-group">
                <label asp-for="persona.Nombre" class="control-label"></label>
                <input asp-for="persona.Nombre" class="form-control" />
                <span asp-validation-for="persona.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persona.Apellido" class="control-label"></label>
                <input asp-for="persona.Apellido" class="form-control" />
                <span asp-validation-for="persona.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persona.Direccion" class="control-label"></label>
                <input asp-for="persona.Direccion" class="form-control" />
                <span asp-validation-for="persona.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persona.DNI" class="control-label"></label>
                <input asp-for="persona.DNI" class="form-control" />
                <span asp-validation-for="persona.DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persona.FechaNacimiento" class="control-label"></label>
                <input asp-for="persona.FechaNacimiento" class="form-control" />
                <span asp-validation-for="persona.FechaNacimiento" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="persona.Activo" class="control-label"></label>
                <input asp-for="persona.Activo" class="form-control" />
                <span asp-validation-for="persona.Activo" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
